<!DOCTYPE html>
<html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
   <title>{{ .Title }}</title>
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="{{ .Site.BaseURL }}js/felton.min.js"></script>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
    <!-- start autocompletejs -->
    <script>
    $(document).ready( function () {
    $('#table_id').DataTable();
    responsive: true
    } );
    </script>

    <script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#example').DataTable( 
            { 
    scrollY:  '650px',
    fixedHeader: {
      header: true,
      footer: true
    },
        "paging":   false,
        "info":     false,
        "order": [],
        "bFilter": false,
    } );
    } );
    </script>

    <!-- end autocompletejs -->

    <!-- styles -->
    <link href="{{ .Site.BaseURL }}css/dannygreen.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
    <!-- end styles -->
  </head>