{{ partial "ref-head.html" . }}
{{ partial "nav.html" . }}
  
<div class="container">
    
		
		{{ .Content }}
             <ul id="horizontal-list">
      <li><a href="/officials/">Officials only</a></li>
      <li><a href="/technicals/">Technical fouls only</a></li>
      <li><a href="/spread/">Spread only</a></li>
    </ul>

<table id="example"  class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead class="thead-light">
         <tr> 
           <th scope="col" class="britt">Location</th>
           <th scope="col" class="britt">Type</th>
           <th scope="col" data-sortable="false">Ref 1</th>
           <th scope="col" data-sortable="false">Ref 2</th>
           <th scope="col" data-sortable="false">Ref 3</th>
           <th scope="col" data-sortable="true">UNC Fouls</th>
           <th scope="col" data-sortable="true">Opp Fouls</th>
           <th scope="col" data-sortable="true">Total Fouls</th>
           <th scope="col" class="britt">Result</th>
           <th scope="col" >Season</th>
           <th scope="col" data-sortable="false">Box Score</th>
         </tr>
     </thead>

    <tbody>
    {{ range $.Site.Data.refs2 }}
    <tr>
        <td class="britt">{{ .location }}</td> 
        <td class="britt">{{ .type }}</td> 
        <td data-label="Ref1" >{{ .off1 }}</td> 
        <td data-label="Ref2" >{{ .off2 }}</td>
        <td data-label="Ref3" >{{ .off3 }}</td>
         <td data-label="Ref1" >{{ .uncfouls }}</td> 
        <td data-label="Ref2" >{{ .oppfouls }}</td>
        <td data-label="Ref3" >{{ .sumfouls }}</td>
        <th class="britt">{{ .result }}</th>
        <td data-label="Year" >{{ .season }}</td>
        <td data-label="Box Score" class="{{ .style }}" ><a href="{{ .box }}" target="_blank">{{ .game }}</a></span></td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ partial "footer.html" . }}
</div>