{{ partial "header.html" . }}
{{ partial "nav.html" . }}   
<div class="container">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
	<table id="example" class="display center" cellspacing="0" width="100%" table-layout="fixed">
	<thead>
         <tr> 
          <th>Type</th>
          <th>Location</th>
          <th class="britt">Year</th>
          <th>Date</th>
          <th data-sortable="false">Box Score</th>
          <th class="britt">Result</th>
         </tr>
     </thead>

    <tbody>
	{{ range $.Site.Data.games }}
		<tr>
        <td>{{ .type }}</td>
        <td>{{ .location }}</td>
        <td class="britt">{{ .season }}</td> 
        <td>{{ .date }}</td> 
        <td><span style="background-color:#{{ .style }}; padding: 2px 2px;"><a href="{{ .box }}" target="_blank">{{ .game }}</a></span></td>
        <td class="britt">{{ .result }}</td>
                </tr>
  			{{ end }}
    </tbody>
</table>

{{ partial "footer.html" . }}
      </div>



