{{ partial "ref-head.html" . }}
{{ partial "nav.html" . }}   
<div class="container">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}

<table id="example"  class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead class="thead-light">
         <tr> 
           <th scope="col" class="britt">Location</th>
           <th scope="col" class="britt">Type</th>
           <th scope="col" data-sortable="false">Ref 1</th>
           <th scope="col" data-sortable="false">Ref 2</th>
           <th scope="col" data-sortable="false">Ref 3</th>
           <th scope="col" class="britt">Result</th>
           <th scope="col">Season</th>
           <th scope="col" data-sortable="false">Box Score</th>
         </tr>
     </thead>

    <tbody>
    {{ range $.Site.Data.dukes }}
    <tr>
        <td class="britt">{{ .location }}</td> 
        <td class="britt">{{ .type }}</td> 
        <td data-label="Ref1">{{ .off1 }}</td> 
        <td data-label="Ref2">{{ .off2 }}</td>
        <td data-label="Ref3">{{ .off3 }}</td>
        <td class="britt">{{ .result }}</td>
        <td data-label="Year">{{ .season }}</td>
        <td data-label="Box Score" class="{{ .style }}"><a href="{{ .box }}" target="_blank">{{ .game }}</a></span></td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ partial "footer.html" . }}
</div>