{{ partial "calc-head.html" . }}
{{ partial "nav.html" . }}  
<div class="container">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
<br>
<h3>Effective Field Goal %</h3>
<form name="Calculator" method="post">
Enter FGM: <input name="input_A" size="10" type="TEXT"><br>
Enter 3PM: <input name="input_B" size="10" type="TEXT"><br>
Enter FGA: <input name="input_C" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateEFG(this.form.input_A.value, this.form.input_B.value, this.form.input_C.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm(this.form)"><br>
eFG% = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Offensive Rebound Rate</h3>
<form name="Calculator2" method="post">
Team ORBs: <input name="input_A" size="10" type="TEXT" class="folger"><br>
Opp. DRBs: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateORB(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm1(this.form)"><br>
ORB% = <input name="Answer" size="12" type="TEXT"><br>
</form>
<br>

<h3>Turnover Rate</h3>
<form name="Calculator" method="post">
Turnovers: <input name="input_A" size="10" type="TEXT" style=" font-size: 12px;margin-bottom: 1em;"><br>
Possessions: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateTOV(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm1(this.form)"><br>
TOV% = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Free Throw Rate</h3>
<form name="Calculator" method="post">
FTA: <input name="input_A" size="10" type="TEXT"><br>
FGA: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateTOV(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm1(this.form)"><br>
FTRate = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Team Possessions</h3>
<form name="Calculator2" method="post">
FGA: <input name="input_A" size="10" type="TEXT"><br>
ORB: <input name="input_B" size="10" type="TEXT"><br>
Turnovers: <input name="input_C" size="10" type="TEXT"><br>
FTA: <input name="input_D" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculatePOSS(this.form.input_A.value, this.form.input_B.value, this.form.input_C.value, this.form.input_D.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm2(this.form)"><br>
Possessions = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<script type="text/javascript">
function CalculateEFG(Atext, Btext, Ctext, form)
{
var A = parseFloat(Atext);
var B = parseFloat(Btext);
var C = parseFloat(Ctext);
form.Answer.value = (A + (.5 * B)) / C;
}

function CalculateTOV(Atext, Btext, form)
{
var A = parseFloat(Atext);
var B = parseFloat(Btext);
form.Answer.value =  A / B;
}

function CalculateORB(Atext, Btext, form)
{
var A = parseFloat(Atext);
var B = parseFloat(Btext);
form.Answer.value = A / (A + B);
}

function CalculateFTRate(Atext, Btext, form)
{
var A = parseFloat(Atext);
var B = parseFloat(Btext);
form.Answer.value = A / B;
}


function CalculatePOSS(Atext, Btext, Ctext, Dtext, form)
{
var A = parseFloat(Atext);
var B = parseFloat(Btext);
var C = parseFloat(Ctext);
var D = parseFloat(Dtext);
form.Answer.value = A - B + C + (.475 * D);
}


/* ClearForm: this function has 1 argument: form.
   It clears the input and answer fields on the form. 
   It needs to know the names of the INPUT elements in order
   to do this. */

function ClearForm(form)
{
form.input_A.value = "";
form.input_B.value = "";
form.input_C.value = "";
form.Answer.value = "";
}

function ClearForm1(form)
{
form.input_A.value = "";
form.input_B.value = "";
form.Answer.value = "";
}

function ClearForm2(form)
{
form.input_A.value = "";
form.input_B.value = "";
form.input_C.value = "";
form.input_D.value = "";
form.Answer.value = "";
}

// end of JavaScript functions -->
</script>



{{ partial "footer.html" . }}
</div>



