{{ partial "calc-head.html" . }}
{{ partial "nav.html" . }}  
<div class="row ten columns offset by-one">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}


<div class="m-entry__body" id="article-body">
    Advanced Statistics are a great way to get more information from a box score.  Websites like <a href="http://www.basketball-reference.com/">Basketball-Reference</a> and <a href="http://hoopdata.com/">Hoop Data</a> do a great job of providing a lot of these statistics over the season. But what about when the statistics aren't handy and all you have is raw data?  I ran into this problem trying to calculate advanced stats during the preseason, because using the formulas to calculate it by hand was a pain.<br>

<br>
<h3>Effective Field Goal %</h3>
<form name="Calculator" method="post">
Enter FGM: <input name="input_A" size="10" type="TEXT"><br>
Enter 3PM: <input name="input_B" size="10" type="TEXT"><br>
Enter FGA: <input name="input_C" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateEFG(this.form.input_A.value, this.form.input_B.value, this.form.input_C.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm1(this.form)"><br>
eFG% = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Offensive Rebound Rate</h3><br>
<form name="Calculator2" method="post">
Team ORBs: <input name="input_A" size="10" type="TEXT" class="folger"><br>
Opp. DRBs: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateORB(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm2(this.form)"><br>
ORB% = <input name="Answer" size="12" type="TEXT"><br>
</form>
<br>

<h3>Turnover Rate</h3><br>
<form name="Calculator" method="post">
Turnovers: <input name="input_A" size="10" type="TEXT" style=" font-size: 12px;margin-bottom: 1em;"><br>
Possessions: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateTOV(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm2(this.form)"><br>
TOV% = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Free Throw Rate</h3><br>
<form name="Calculator" method="post">
FTA: <input name="input_A" size="10" type="TEXT"><br>
FGA: <input name="input_B" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculateTOV(this.form.input_A.value, this.form.input_B.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm2(this.form)"><br>
FTRate = <input name="Answer" size="12" type="TEXT">
</form>
<br>

<h3>Team Possessions</h3><br>
<form name="Calculator2" method="post">
FGA: <input name="input_A" size="10" type="TEXT"><br>
ORB: <input name="input_B" size="10" type="TEXT"><br>
Turnovers: <input name="input_C" size="10" type="TEXT"><br>
FTA: <input name="input_D" size="10" type="TEXT"><br>
<input name="AddButton" value="Calculate" type="button" onclick="CalculatePOSS(this.form.input_A.value, this.form.input_B.value, this.form.input_C.value, this.form.input_D.value, this.form)"><input name="ClearButton" value="Clear Fields" type="button" onclick="ClearForm3(this.form)"><br>
Possessions = <input name="Answer" size="12" type="TEXT">
</form>
<br>


</div>

{{ partial "footer.html" . }}
      </div>



