{{ partial "header.html" . }}
{{ partial "nav.html" . }}     
<div class="container">   
		
		{{ .Content }}

<table id="example" class="display center" cellspacing="0" width="100%">
  <thead>
         <tr> 
           <th scope="col" >Player</th>
           <th scope="col" >Class</th>
           <th scope="col"  >Drafted Team</th>
           <th scope="col" >Year</th>
           <th scope="col" >Pick #</th>
         </tr>
     </thead>

    <tbody>
   {{ range $.Site.Data.pros }}
    <tr>
        <td data-label="Name">{{ .player }}</td> 
        <td data-label="Class">{{ .classyear }}</td>
        <td data-label="Team">{{ .draftedteam }}</td>
        <td data-label="Year">{{ .theyear }}</td> 
        <td data-label="Pick #">{{ .thepicknumber }}</td> 
        </tr>
        {{ end }}
    </tbody>
</table>


{{ partial "footer.html" . }}
</div>
